/* 
Primary

Dark Blue: hsl(233, 26%, 24%)
Lime Green: hsl(136, 65%, 51%)
Bright Cyan: hsl(192, 70%, 51%)


Neutral

Grayish Blue: hsl(233, 8%, 62%)
Light Grayish Blue: hsl(220, 16%, 96%)
Very Light Gray: hsl(0, 0%, 98%)
White: hsl(0, 0%, 100%) 

*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

.logo {
    padding: 22px 0;
}

.back-div {
    display: block;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style: none;
    color: hsl(233, 8%, 62%);
    gap: 20px;
    font-weight: 300;
    font-size: 0.9em;
}

.nav-item {
    padding: 22px 0;
    border-bottom: 4px solid transparent;
}

.nav-item:hover {
    border-bottom: 4px solid hsl(136, 65%, 51%);
}

.btn {
    padding: 10px 30px;
    color: hsl(0, 0%, 98%);
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 50px;
}

.btn:hover {
    background: linear-gradient(to right, hsla(136, 65%, 51%, 0.663), hsla(192, 70%, 51%, 0.716));
}

.burger {
    display: none;
    cursor: pointer;
    width: 22px;
}

.hide {
    display: flex;
}

.section-one {
    display: flex;
    height: 85vh;
    background: hsl(0, 0%, 98%);
    overflow: hidden;
}

.text-section {
    align-self: center;
    flex-shrink: 0;
    flex-basis: 450px;
    padding: 0 30px;
    margin: 0 auto;
}

.heading-main {
    font-size: 2.5em;
    margin: 30px 0;
    font-weight: 300;
}

.heading {
    font-size: 2.1em;
    margin: 30px 0;
    font-weight: 300;
}

.slogan {
    color: hsl(233, 8%, 62%);
    display: inline-block;
    margin: 10px 0 40px 0;
}

.image-section {
    background: url('./images/bg-intro-desktop.svg');
    overflow-x: clip;
    z-index: 0;
}

.mock-img {
    transform: translate(18%, -13%);
    overflow: hidden;
}

.section-two {
    padding: 80px 0;
    background-color: hsl(220, 16%, 96%);
}

.section-two-container {
    max-width: 80%;
    margin: 0 auto;
}

.perks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.perk {
    width: 250px;
    margin: 10px;
}

.perk .title {
    font-size: 1.1em;
    margin: 30px 0;
}

.perk .info {
    color: hsl(233, 8%, 62%);
    font-size: 0.85em;
    line-height: 30px;
}

.section-three {
    background: hsl(0, 0%, 98%);
    padding: 80px 0;
}

.section-three-container {
    width: 80%;
    margin: 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0;
}

.article {
    width: 270px;
    /* padding: 0 10px 10px 10px; */
    overflow: hidden;
    background: white;
    border-radius: 5px;
    height: 400px;
    /* box-shadow: 2px 2px 5px grey; */
}

.article-box {
    padding: 20px;
}

.author {
    color: hsl(233, 8%, 62%);
    font-size: 0.5em;
}

.article-heading {
    font-size: 0.9em;
    margin: 10px 0;
    font-weight: 300;
}

.article-heading:hover {
    color: hsl(136, 65%, 51%);
}

.article-info {
    font-size: 0.8em;
    color: hsl(233, 8%, 62%);
}

.article-image img {
    object-fit: contain;

    height: 200px;
}

.footer {
    background-color: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;

}

.footer-logo {
    background: linear-gradient(to right, hsl(136, 65%, 51%) 0%, hsl(136, 65%, 51%) 22%, hsl(0, 0%, 100%) 23%, hsl(0, 0%, 100%)100%);
    -webkit-mask: url('./images/logo.svg') no-repeat center;
    mask: url('./images/logo.svg') no-repeat center;
    height: 20px;
    width: 140px;
    display: inline-block;
}

.socials {
    margin-top: 40px;
}

.icon-facebook {
    background-color: hsl(0, 0%, 100%);
    -webkit-mask: url('./images/icon-facebook.svg') no-repeat center;
    mask: url('./images/icon-facebook.svg') no-repeat center;
}

.icon-youtube {
    background-color: hsl(0, 0%, 100%);
    -webkit-mask: url('./images/icon-youtube.svg') no-repeat center;
    mask: url('./images/icon-youtube.svg') no-repeat center;
}

.icon-twitter {
    background-color: hsl(0, 0%, 100%);
    -webkit-mask: url('./images/icon-twitter.svg') no-repeat center;
    mask: url('./images/icon-twitter.svg') no-repeat center;
}

.icon-pinterest {
    background-color: hsl(0, 0%, 100%);
    -webkit-mask: url('./images/icon-pinterest.svg') no-repeat center;
    mask: url('./images/icon-pinterest.svg') no-repeat center;
}

.icon-instagram {
    background-color: white;
    -webkit-mask: url('./images/icon-instagram.svg') no-repeat center;
    mask: url('./images/icon-instagram.svg') no-repeat center;
}

.footer-icon {
    height: 20px;
    width: 20px;
    margin: 0 4px;
    display: inline-block;
}

.footer-icon:hover {
    background-color: hsl(136, 65%, 51%);
}

.footer-lists {
    display: flex;
    gap: 80px;
}

.footer-list {
    list-style: none;
    font-size: 0.8em;
}

.footer-list-item {
    margin-bottom: 20px;
    color: hsl(220, 16%, 96%);
}

.footer-list-item:hover {
    color: hsl(136, 65%, 51%);
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.copy {
    font-weight: 300;
    font-size: 0.8em;
    color: hsl(233, 8%, 62%);
    margin-bottom: 10px;
}

.scroll {
    overflow: visible;
}

.is-active {
    margin-top: 0;
}

@media screen and (max-width:690px) {
    .header {
        flex-wrap: wrap;
    }

    .is-active {
        margin-top: -100vh;
    }

    .scroll {
        overflow: hidden;
    }

    .back-div {
        display: block;
        height: 100vh;
        background: rgba(0, 0, 0, 0.457);
        width: 100vw;
    }

    .nav-list {
        background-color: hsl(0, 0%, 100%);
        flex-direction: column;
        order: 1;
        align-items: center;
        margin: 45px auto;
        padding: 20px 0;
        width: 80%;
        border-radius: 5px;
    }

    .hide {
        display: none;
    }

    .nav-item {
        padding: 0;
    }

    .nav-btn {
        display: none;
    }

    .burger {
        display: block;
    }

    .section-one {
        flex-direction: column;
        height: auto;
    }

    .text-section {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }

    .image-section {
        order: -1;
        width: 100%;
        transform: translateY(-10%);
    }

    .mock-img {
        width: inherit;
        transform: translateY(-19%);
    }

    .section-two {
        text-align: center;
    }

    .perks {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .perk {
        width: auto;
    }

    .section-three {
        padding: 30px;
        text-align: center;
    }

    .articles {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-lists {
        flex-direction: column;
        gap: 0;
    }

    .copyright {
        align-items: center;
    }

    .copy {
        margin-top: 20px;
    }
}